.login {
    grid-area: login;
    align-self: center;
    top: 86px;
    right: 10px;
}

.login_container {
    display: grid;
    justify-self: right; 
    align-content: right;

}

.login_container_log {
    grid-area: log;
    align-self: center;
    border-radius: 5px;

    font-size: 34px;
    font-weight: 500;
    text-decoration: none;
    font-family:'inter-light';
    color:  var(--black-bg-color);
    letter-spacing: 0.14px;
    padding-left: 50px;
    margin-left: 70px;
} 
/* 
@media screen and (max-width: 1024px) {
    .login {
        display: none;
    } 
}  */