/* Шрифты */
@font-face {
	font-family: "PT Astra Sans Italic";
	src: url("../assets/fonts/pt-astra-sans-italic.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PT Astra Sans Bold";
	src: url("../assets/fonts/pt-astra-sans-bold.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PT Astra Sans Bold Italic";
	src: url("../assets/fonts/pt-astra-sans-bold-italic.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PT Astra Sans Regular";
	src: url("../assets/fonts/pt-astra-sans-regular.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}


html,
body,
#root
.app,
.content {
  height:  100%;
  width: 100%;
  font-family: 'as-italic';
}

.app {
  display: flex;
  position: relative;
}